<!DOCTYPE html>
<html lang="en">

<head>
  <title>Jun's library to Convert .doc to .pdf</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="./style.css" rel="stylesheet">
</head>

<body>

  <div class="jumbotron text-center">
    <h1>Convert .doc to .pdf</h1>
    <h5 class="accociate-title">This service converts Word documents to PDF documents.</h5>
  </div>

  <div class="container text-center">
    <h3>Upload file to convert</h3>
    <form>
      <div class="row">
        <div class="col-md-6 offset-md-3 py-4">
          <label class="label" for="email">Email:</label>
          <input class="inputbox" type="email" name="email" placeholder="Enter Your Email">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 offset-md-3 py-4">
          <label class="label" for="file">Upload File:</label>
          <input class="inputbox" type="file" name="file">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 offset-md-3 py-4">
          <button type="submit" class="btn btn-primary btn-sm">Upload</button>
        </div>
      </div>
    </form>

  </div>

  <footer>
    <div class="text-center">PDF tool created by Jun Wang</div>
  </footer>
</body>

</html>