<!DOCTYPE html>
<html lang="en">

<head>
  <title>Jun's library to Convert .doc to .pdf</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="jumbotron text-center">
    <h1>Convert Microsoft document and text file to .pdf</h1>
    <h5 class="py-2">This service converts Microsoft documents to PDF documents.</h5>
  </div>

  <div class="text-center">
    <h3>Upload file to convert</h3>
    <main>
      <form method="post" enctype=multipart/form-data> <div class="form-group"></div>
        <div class="row">
          <div class="col-md-6 offset-md-3 py-3">

          </div>
        </div>

        <div class="row">
          <div class="col-md-6 offset-md-3 py-3">
            <label class="text-left" style="width: 150px" for="file">Upload File:</label>
            <input style="width:300px" type="file" name="file">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 offset-md-3 py-3">
            <button type="submit" class="btn btn-primary btn-sm">Upload</button>
          </div>
        </div>

      </form>
    </main>
  </div>

  <footer class="w-100 fixed-bottom" style="height: 100px; background: lightgray">
    <div class="text-center">PDF tool created by Jun Wang</div>
  </footer>
</body>

</html>