<!DOCTYPE html>
<html lang="en">

<head>
  <title>Jun's library to Convert .doc to .pdf</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="jumbotron text-center">
    <h1>Convert .doc to .pdf</h1>
    <p>This service converts Word documents to PDF documents.</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3></h3>
        <p></p>
        <p></p>
      </div>

      <div class="col-sm-4">
        <h3>Upload file to convert</h3>
        <main>
          <form method="post" enctype=multipart/form-data> <div class="form-group">
            <label for="email">Upload your file</label>
            <input type="file" class="form-control" id="file" name="file">
        </main>
      </div>


      <input type="submit" class="btn btn-primary" value="Upload"></input>
      </form>

    </div>
    <div class="col-sm-4">
      <h3></h3>
      <p></p>
      <p></p>
    </div>
  </div>
  </div>

  <footer>
    <div class="jumbotron text-center">PDF tool created by Jun Wang</div>
  </footer>
</body>

</html>